<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A voting app">
    <meta name="author" content="Huy">
    
    <title>Stock live</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/loading.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <div class="container">
            <div id="container" style="width:100%; height:400px;"></div>
            <div id="loader"></div>
            <div id="companyname">
                <h3 id='AAPL' ><button class='btn btn-danger' val='AAPL' >X</button> Apple Inc (AAPL)</h3>
                <h3 id='FB' ><button class='btn btn-danger' val='FB' >X</button> Facebook Inc. (FB)</h3>
                <h3 id='MSFT' ><button class='btn btn-danger' val='MSFT' >X</button> Microsoft Corporation (MSFT)</h3>
            </div>
            <form action="">
              <label for="addname">&gt;</label>
              <input id="addname" autocomplete="off" />
            </form>
   </div>

    <script type="text/javascript" src="/stock.js"></script>
    
</body>

</html>
