body{
    background-color: #375D81;
    padding-top:25px;
}
#companyname, #container{
    color:#fff;
    margin-top:10px;
}
input {
    outline: none;
    border: none;
    background-color: #375D81;
    color: #FFF;
    padding: 20px 15px;
    display: block;
    font-size: 30px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
label {
    display: block;
    padding: 1em .5em;
    font-size: 35px;
    color: #fff;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #000;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}